{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    {% include 'accounts/sections/Head.html'%}
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    {% include 'accounts/sections/HumbergerSection.html'%}

    <!-- Humberger End -->

    <!-- Header Section Begin -->
    {% include 'accounts/sections/HeaderSection.html'%}

    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    {% include 'accounts/sections/HeroSection.html'%}

    <!-- Hero Section End -->

    <!-- Feature Section Begin -->
    {% include 'accounts/sections/FearturesSection.html'%}

    <!-- Feature Section End -->

    <!-- Banner Begin -->
    {% include 'accounts/sections/BannersSection.html'%}

    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    {% include 'accounts/sections/LastestProductSection.html'%}

    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    {% include 'accounts/sections/BlogSection.html'%}
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    {% include 'accounts/sections/FooterSection.html'%}

    <!-- Footer Section End -->

    <!-- Js Plugins -->
    {% include 'accounts/sections/JSplugins.html'%}
  </body>
</html>
